<H1> About </H1>

<img src="/img/img-2.jpg" alt="Yashwant photo" class="hero-image-2"/>

<br>

<p class="about-content">
    Hello,
    <br><br>
    I am Yashwant Jain from Hisar, Haryana, currently pursuing a Bachelor of Technology in Computer
    Engineering at the National Institute of Technology, Kurukshetra. With a strong focus on backend
    development and a deep commitment to mastering Data Structures and Algorithms, I am dedicated to
    building robust and efficient software solutions.
    <br>
    My technical journey is marked by significant milestones, including my selection for the prestigious 
    Amazon ML Summer School. Additionally, my team was honored to be selected for the national level 
    competition of the Smart India Hackathon, showcasing our innovative approach and problem-solving skills.
    <br>
    I am passionate about leveraging technology to solve real-world problems and continuously seek 
    opportunities to enhance my expertise and contribute to impactful projects.
</p>